rag with hybrid search.json
{
  "name": "rag with hybrid search",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        2096,
        0
      ],
      "id": "69699184-c7c3-48f1-9990-28564a5ae656",
      "name": "When chat message received",
      "webhookId": "889ed0e1-2d8f-45ec-885e-72297946ca37"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2736,
        208
      ],
      "id": "94a4617a-1143-4b4f-8153-8c4355683695",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4lIXinBsMGOTHYCi",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are an F1 Expert\n\nYou are tasked with answering a question using the provided information. Your goal is to provide an accurate answer based on this information.\n\nIf you cannot answer the question using the provided chunks, say \"Sorry I don't know\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2640,
        -16
      ],
      "id": "012cfb06-2507-4dbc-8b58-68c6871aba92",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        2848,
        240
      ],
      "id": "35b88450-97b4-435c-9add-56d106677bc9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "this is a repo of f1 regulations",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        3072,
        16
      ],
      "id": "a6f76e50-0b25-4c78-9234-0b49aa73246f",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2544,
        400
      ],
      "id": "d37db3df-9342-47d9-a471-c0c85ef5d69f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "4lIXinBsMGOTHYCi",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1104,
        -336
      ],
      "id": "fdcfb6bd-02f4-42b5-92e0-9e1f43ca97ca",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -672,
        464
      ],
      "id": "bb48abe3-7e4e-4e32-bd7d-4cf40fd9744b",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1872,
        208
      ],
      "id": "fa8cacd9-1697-4407-a641-2e53a6949c0e",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "4lIXinBsMGOTHYCi",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Loop Over Items').item.json.id }}"
              },
              {
                "name": "motorsport_category",
                "value": "={{ $('Basic LLM Chain').item.json.output.motorsport_category }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('Loop Over Items').item.json.name }}"
              },
              {
                "name": "file_summary",
                "value": "={{ $('Basic LLM Chain').item.json.output.document_summary }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1984,
        208
      ],
      "id": "e3fdf720-ae5c-482d-b616-2fa8300f7abb",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "url": "https://www.fia.com/sites/default/files/documents/fia_2025_formula_1_technical_regulations_-_issue_03_-_2025-04-07.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -464,
        -224
      ],
      "id": "8356d6dc-15e8-462c-b108-2bf38b3d9a53",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "f1_knowledgebase retreive relevant details on formula 1 with this tool",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 20,
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "motorsport_category",
                "value": "={{ $json.output.motorsport_category }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2464,
        224
      ],
      "id": "51c9316a-eedc-4278-a873-44f3237aa1ef",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "63j3UijNlOa5vxaz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1872,
        -208
      ],
      "id": "dd6feab1-067c-4111-951c-a68a6cd16667",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "63j3UijNlOa5vxaz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1136,
        64
      ],
      "id": "91a1ac4d-8ebb-4263-9089-ba6495f8905b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43da79ae-7fa4-404e-90fb-983b59f9b696",
              "name": "content",
              "value": "={{ $('Extract from File').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        64
      ],
      "id": "1d3105e7-dbda-40e6-88c3-3f14c90464f1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ANRUDGsJhNG1-GuL1LPJ_3FkNezO2S7M",
          "mode": "list",
          "cachedResultName": "rag files",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ANRUDGsJhNG1-GuL1LPJ_3FkNezO2S7M"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        64
      ],
      "id": "e4163da5-b68c-449a-8f8e-84c869e09989",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4ZbmTMkPZJx2zrr2",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -144,
        112
      ],
      "id": "287225c5-b0e1-4e4f-8988-514c29dd7040",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4ZbmTMkPZJx2zrr2",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "binaryData": true,
        "dataPropertyName": "hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        64,
        112
      ],
      "id": "b3c6d10e-d996-401b-a4e3-82cc2a587f7e",
      "name": "generate unique hash"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "record_manager",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "google_drive_file_id",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        272,
        112
      ],
      "id": "d4c4168e-07cd-4aac-b375-923bc2df9fbc",
      "name": "search record manager",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "63j3UijNlOa5vxaz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "record_manager",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "google_drive_file_id",
              "fieldValue": "={{ $('Google Drive Trigger').item.json.id }}"
            },
            {
              "fieldId": "hash",
              "fieldValue": "={{ $('generate unique hash').item.json.hash }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        896,
        112
      ],
      "id": "48556f7e-8d5b-4bbf-936a-fbe82503f73a",
      "name": "create row recordmanager",
      "credentials": {
        "supabaseApi": {
          "id": "63j3UijNlOa5vxaz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -400,
        64
      ],
      "id": "6cc62e01-181f-48d8-80de-e778c832e2c3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json }}",
                    "rightValue": "={{ $('generate unique hash').item.json.hash }}",
                    "operator": {
                      "type": "object",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "39c868dc-904c-470e-96b9-6a2bcf5bf820"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "57f43921-b71e-4d2a-85c4-84baddbc86d8",
                    "leftValue": "={{ $json.hash }}",
                    "rightValue": "={{ $('generate unique hash').item.json.hash }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9674fa6d-09cf-429b-bdfa-27fc632cb05a",
                    "leftValue": "={{ $json.hash }}",
                    "rightValue": "={{ $('generate unique hash').item.json.hash }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        480,
        112
      ],
      "id": "cbbac202-aa91-4fb7-be46-58e25749171b",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1024,
        224
      ],
      "id": "4b05f69a-8445-4d7f-91cd-e42d7401ea20",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4ZbmTMkPZJx2zrr2",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $('Loop Over Items').item.json.id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        384,
        400
      ],
      "id": "098e4fb2-096c-4423-8189-12f039442c56",
      "name": "Delete Previous Vectors",
      "credentials": {
        "supabaseApi": {
          "id": "63j3UijNlOa5vxaz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "record_manager",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('search record manager').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "hash",
              "fieldValue": "={{ $('generate unique hash').item.json.hash }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        864,
        400
      ],
      "id": "9047a695-6e91-4325-9e64-2891c864f12f",
      "name": "update our record manager",
      "credentials": {
        "supabaseApi": {
          "id": "63j3UijNlOa5vxaz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        592,
        400
      ],
      "id": "0c86b59e-17cd-4f82-991c-6c1741066beb",
      "name": "Aggregate",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# File Name\n{{ $('Download file').item.json.name }}\n\n###################\n\n# File Contents\n{{ $json.text.split(/\\s+/).length > 500 ? $json.text.split(/\\s+/).slice(0, 500).join(' ') + '...' : $json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "based on the provided filename and file contents, extract out a 1 sentence description of what the document is along with is about and classify the document based on motorsport category\n\nonly output json in the following format \n\n{\n\"motorsport_category\":\"<ADD>\",\n\"document_summary\":\"<ADD>\"\n}\n\nif you are unsure of either of these just ouput N/A in the field.\n\nAllowable values for motorsport_category include \n\nF1\nRally\nWorld Endurance\n\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1344,
        64
      ],
      "id": "7a8e4c84-bdb1-4a34-9bc1-99a084e4817e",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"motorsport_category\":\"<ADD>\",\n\"document_summary\":\"<ADD>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1488,
        272
      ],
      "id": "c3b37d4c-ff15-4a8d-aa9a-1b5f2033ea3c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1232,
        272
      ],
      "id": "f1e1baa1-703e-48dc-9cbd-e73bd57c7582",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "4lIXinBsMGOTHYCi",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "based on the context either reply with F1 or World Endurance \n\n\nonly output in JSON"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2304,
        0
      ],
      "id": "2d2a26b8-378b-44f3-9878-6957501ba490",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"motorsport_category\": \"<ADD>\",\n\t\"document_summary\":\"<ADD>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2640,
        400
      ],
      "id": "77b2f89c-1832-4e3e-8981-f9901a92d987",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2304,
        192
      ],
      "id": "c477dcd9-e7d8-4665-bc70-1143708a4fc4",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "4lIXinBsMGOTHYCi",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        []
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "generate unique hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate unique hash": {
      "main": [
        [
          {
            "node": "search record manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search record manager": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create row recordmanager": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "create row recordmanager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Previous Vectors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Previous Vectors": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update our record manager": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "update our record manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "90e87222-82c0-462b-a383-f716533d1b28",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a6ec59ee34701b862074184db89058678a9560f0651162da63541c5032bd8abb"
  },
  "id": "PzN5ENTgB8aHAy3g",
  "tags": []
}